<a href="https://colab.research.google.com/github/Seanzhengocean1/DS_Week4/blob/main/Day19_A_25_26MAY2023_DS_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_csv = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
df_xml = pd.read_xml('/content/churn_modelling_xml.xml')

In [ ]:
df_xlsx = pd.read_excel('/content/churn_modelling_xlsx.xlsx')

In [ ]:
df_html = pd.read_html('/content/churn_modelling_html.html')

In [ ]:
df_json = pd.read_json('/content/churn_modelling_json.json')

In [ ]:
print(df_csv, df_xml, df_xlsx, df_html, df_json)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]       index  RowNumber  CustomerId    Surname  CreditScore Geography  Gender  \
0         0          1    15634602   Hargrave          619    France  Female
1         1          2    15647311       Hill          608     Spain  Female
2         2          3    15619304       Onio          502    France  Female
3         3          4    15701354       Boni          699    France  Female
4         4          5    15737888   Mitchell          850     Spain  Female
...     ...        ...         ...        ...          ...       ...     ...
9995   9995       9996    15606229   Obijiaku          771    France    Male
9996   9996       9997    15569892  Johnstone          516    France    Male
9997   9997       9998    15584532        Liu          709    France  Female
9998   9998       9999    15682355  Sabbatini          772   Germany    Male
9999   9999      10000    15628319     Walker          792    France  Female

      Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0      42       2       0.00              1          1               1
1      41       1   83807.86              1          0               1
2      42       8  159660.80              3          1               0
3      39       1       0.00              2          0               0
4      43       2  125510.82              1          1               1
...   ...     ...        ...            ...        ...             ...
9995   39       5       0.00              2          1               0
9996   35      10   57369.61              1          1               1
9997   36       7       0.00              1          0               1
9998   42       3   75075.31              2          1               0
9999   28       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 15 columns]       Unnamed: 0  RowNumber  CustomerId    Surname  CreditScore Geography  \
0              0          1    15634602   Hargrave          619    France
1              1          2    15647311       Hill          608     Spain
2              2          3    15619304       Onio          502    France
3              3          4    15701354       Boni          699    France
4              4          5    15737888   Mitchell          850     Spain
...          ...        ...         ...        ...          ...       ...
9995        9995       9996    15606229   Obijiaku          771    France
9996        9996       9997    15569892  Johnstone          516    France
9997        9997       9998    15584532        Liu          709    France
9998        9998       9999    15682355  Sabbatini          772   Germany
9999        9999      10000    15628319     Walker          792    France

      Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0     Female   42       2       0.00              1          1
1     Female   41       1   83807.86              1          0
2     Female   42       8  159660.80              3          1
3     Female   39       1       0.00              2          0
4     Female   43       2  125510.82              1          1
...      ...  ...     ...        ...            ...        ...
9995    Male   39       5       0.00              2          1
9996    Male   35      10   57369.61              1          1
9997  Female   36       7       0.00              1          0
9998    Male   42       3   75075.31              2          1
9999  Female   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited
0                  1        101348.88       1
1                  1        112542.58       0
2                  0        113931.57       1
3                  0         93826.63       0
4                  1         79084.10       0
...              ...              ...     ...
9995               0         96270.64       0
9996               1        101699.77       0
9997               1         42085.58       1
9998               0         92888.52       1
9999               0         38190.78       0

[10000 rows x 15 columns] [      Unnamed: 0  RowNumber  CustomerId    Surname  CreditScore Geography  \
0              0          1    15634602   Hargrave          619    France
1              1          2    15647311       Hill          608     Spain
2              2          3    15619304       Onio          502    France
3              3          4    15701354       Boni          699    France
4              4          5    15737888   Mitchell          850     Spain
...          ...        ...         ...        ...          ...       ...
9995        9995       9996    15606229   Obijiaku          771    France
9996        9996       9997    15569892  Johnstone          516    France
9997        9997       9998    15584532        Liu          709    France
9998        9998       9999    15682355  Sabbatini          772   Germany
9999        9999      10000    15628319     Walker          792    France

      Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0     Female   42       2       0.00              1          1
1     Female   41       1   83807.86              1          0
2     Female   42       8  159660.80              3          1
3     Female   39       1       0.00              2          0
4     Female   43       2  125510.82              1          1
...      ...  ...     ...        ...            ...        ...
9995    Male   39       5       0.00              2          1
9996    Male   35      10   57369.61              1          1
9997  Female   36       7       0.00              1          0
9998    Male   42       3   75075.31              2          1
9999  Female   28       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited
0                  1        101348.88       1
1                  1        112542.58       0
2                  0        113931.57       1
3                  0         93826.63       0
4                  1         79084.10       0
...              ...              ...     ...
9995               0         96270.64       0
9996               1        101699.77       0
9997               1         42085.58       1
9998               0         92888.52       1
9999               0         38190.78       0

[10000 rows x 15 columns]]       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

In [ ]:
df1.to_html('churn_modelling_html.html')

In [ ]:
df1.to_excel('churn_modelling_xlsx.xlsx')

In [ ]:
!pip install xlwt
import xlwt
df1.to_excel('churn_modelling_xls.xls')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.10/dist-packages (1.3.0)

<ipython-input-32-957ccbfcdb8a>:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df1.to_excel('churn_modelling_xls.xls')

In [ ]:
df1.to_json('churn_modelling_json.json')

In [ ]:
df1.to_xml('churn_modelling_xml.xml')

# Python Pandas Series

In [ ]:
import pandas as pd

lst1 = [21,32,43,54,65,76,87,98,9,10]
ser1 = pd.Series(lst1)
print(ser1)
print(type(ser1))
ser1.ndim, ser1.shape, ser1.size

0    21
1    32
2    43
3    54
4    65
5    76
6    87
7    98
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>

(1, (10,), 10)

In [ ]:
tup1 = ('a','b','c','d','e','f','g','h','i','j')
ser2 = pd.Series(tup1)
print(ser2)
print(type(ser2))
ser2.ndim, ser2.shape, ser2.size

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object
<class 'pandas.core.series.Series'>

(1, (10,), 10)

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,0}
ser3 = pd.Series(set1)

TypeError: ignored

In [ ]:
dict1 = {'a':'b','c':'d','e':'f','g':'h','i':'j'}
ser4 = pd.Series(dict1)
print(ser4)
print(type(ser4))
ser4.dtypes, ser4.shape, ser4.size, ser4.ndim

a    b
c    d
e    f
g    h
i    j
dtype: object
<class 'pandas.core.series.Series'>

(dtype('O'), (5,), 5, 1)

In [ ]:
str1 = 'Python Programming'
ser5 = pd.Series(str1)
print(ser5)
print(type(ser5))
ser5.ndim, ser5.dtypes, ser5.shape, ser5.size

0    Python Programming
dtype: object
<class 'pandas.core.series.Series'>

(1, dtype('O'), (1,), 1)

In [ ]:
ser1.dtypes, ser2.dtypes, ser4.dtypes, ser5.dtypes

(dtype('int64'), dtype('O'), dtype('O'), dtype('O'))

In [ ]:
ser1.shape, ser2.shape, ser4.shape, ser5.shape

((10,), (10,), (5,), (1,))

In [ ]:
ser1.size, ser2.size, ser4.size, ser5.size

(10, 10, 5, 1)

In [ ]:
# Series.itemsize is deprecated and will be removed in a future version
ser1.itemsize, ser2.itemsize, ser4.itemsize, ser5.itemsize

AttributeError: ignored

In [ ]:
ser1.nbytes, ser2.nbytes, ser4.nbytes, ser5.nbytes

(80, 80, 40, 8)

In [ ]:
ser1.ndim, ser2.ndim, ser4.ndim, ser5.ndim

(1, 1, 1, 1)

In [ ]:
ser1.count(), ser2.count(), ser4.count(), ser5.count()

(10, 10, 5, 1)

In [ ]:
len(ser1), len(ser2), len(ser4), len(ser5), len(str1)

(10, 10, 5, 1, 18)

In [ ]:
ser1, lst1

(0    21
 1    32
 2    43
 3    54
 4    65
 5    76
 6    87
 7    98
 8     9
 9    10
 dtype: int64,
 [21, 32, 43, 54, 65, 76, 87, 98, 9, 10])

In [ ]:
ser6 = pd.Series(lst1, index=[11,22,33,44,55,66,77,88,99,110])
print(ser6)
print(type(ser6))
ser6.ndim, ser6.size , ser6.nbytes , ser6.shape , len(ser6) , ser6.count() , ser6.dtypes

11     21
22     32
33     43
44     54
55     65
66     76
77     87
88     98
99      9
110    10
dtype: int64
<class 'pandas.core.series.Series'>

(1, 10, 80, (10,), 10, 10, dtype('int64'))

In [ ]:
ser6

11     21
22     32
33     43
44     54
55     65
66     76
77     87
88     98
99      9
110    10
dtype: int64

In [ ]:
ser6.index = ['a','b','c','d','e','f','g','h', 'i', 'j']

In [ ]:
ser6

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [ ]:
ser6, ser6[:], ser6[:5], ser6[3:7]

(a    21
 b    32
 c    43
 d    54
 e    65
 f    76
 g    87
 h    98
 i     9
 j    10
 dtype: int64,
 a    21
 b    32
 c    43
 d    54
 e    65
 f    76
 g    87
 h    98
 i     9
 j    10
 dtype: int64,
 a    21
 b    32
 c    43
 d    54
 e    65
 dtype: int64,
 d    54
 e    65
 f    76
 g    87
 dtype: int64)

In [ ]:
ser6

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [ ]:
cp_ser6 = ser6.copy()

In [ ]:
cp_ser6

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [ ]:
ser7 = cp_ser6.append(ser6)

<ipython-input-38-1113602d82b5>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser7 = cp_ser6.append(ser6)

In [ ]:
ser7

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
j    10
dtype: int64

In [ ]:
ser7.drop('j', inplace=True)
ser7

a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
a    21
b    32
c    43
d    54
e    65
f    76
g    87
h    98
i     9
dtype: int64

In [ ]:
ser6.mean()

49.5

In [ ]:
ser6.median()

48.5

In [ ]:
ser6.mode()

0     9
1    10
2    21
3    32
4    43
5    54
6    65
7    76
8    87
9    98
dtype: int64

#**File Handling**

    "r" - Read - Default value. Opens a file for reading, error if the file does not exist

    "a" - Append - Opens a file for appending, creates the file if it does not exist

    "w" - Write - Opens a file for writing, creates the file if it does not exist

    "x" - Create - Creates the specified file, returns an error if the file exists

    "t" - Text - Default value. Text mode

    "b" - Binary - Binary mode (e.g. images)

In [ ]:
# "x" - Create - Creates the specified file, returns an error if the file exists

f = open('myfilename1.txt', 'x')

In [ ]:
# "w" - Write - Opens a file for writing, creates the file if it does not exist

f = open('myfilename1.txt', 'w')
f.write('this is first statement in write mode')
f.close

f = open('myfilename1.txt', 'r')
print(f.read())

this is first statement in write mode

In [ ]:
# "a" - Append - Opens a file for appending, creates the file if it does not exist

f = open('myfilename1.txt', 'a')
f.write('this is second statement in append mode')
f.close

f = open('myfilename1.txt', 'r')
print(f.read())

this is first statement in write modethis is second statement in append mode

In [ ]:
# Inbuilt Exceptions
# User Define Exceptions

In [ ]:
lst1 = [1,92,83,74,65,56,47,38,29,10]

lst_iter = iter(lst1)

print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))
print(next(lst_iter))

In [ ]:
lst1 = [1,92,83,74,65,56,47,38,29,10]

lst_iter = iter(lst1)

try:
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))
  print(next(lst_iter))

except StopIteration as si:
  print('StopIteration ', si)  
except Exception as e:
  print('Universal Exception ', e)

In [ ]:
# super() function

class Alpha:
	classvar1 = "classvar1 - Class Alpha - Class local variable"
	def __init__(self):
		self.var1 = "self.var1 - Class Alpha - Constructor or __init__ function"
		self.classvar1 = "self.classvar1 - Class Alpha - Instance variable"

class Beta(Alpha):
  classvar1 = "Class Beta - Class local variable"
  def __init__(self):
    
    self.var1 = "self.var1 - Class Beta - Constructor or __init__ function"
    self.classvar1 = "self.classvar1 - Class Beta - Instance variable"
    print('self.var1 ', self.var1)
    print('self.classvar1 ', self.classvar1)
    super().__init__()

a = Alpha()
b = Beta()

print(b.classvar1,b.var1)

self.var1  self.var1 - Class Beta - Constructor or __init__ function
self.classvar1  self.classvar1 - Class Beta - Instance variable
self.classvar1 - Class Alpha - Instance variable self.var1 - Class Alpha - Constructor or __init__ function

In [ ]:
a = 10
b = 20

print(a)
print(b)

a = -1947
b = -1989

print(a)
print(b)

10
20
-1947
-1989

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Churn_Modelling.csv')
df

In [ ]:
df.to_html('Churn_Modelling_HTML.html')

In [ ]:
lst1 = ['apple','banana','cherries','dates','eggfruits','fig']
ser1 = pd.Series(lst1)
print(ser1)
print(type(ser1))

0        apple
1       banana
2     cherries
3        dates
4    eggfruits
5          fig
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
ser1.index = ['Ahmadabad',
              'Birmingham',
              'CAIRO',
              'DAMASCUS',
              'Ecatepec',
              'Faisalabad']
print(type(ser1))

<class 'pandas.core.series.Series'>

In [ ]:
ser1

Ahmadabad         apple
Birmingham       banana
CAIRO          cherries
DAMASCUS          dates
Ecatepec      eggfruits
Faisalabad          fig
dtype: object

In [ ]:
ser1['Ahmadabad'], ser1['Birmingham'], ser1['CAIRO'], ser1['DAMASCUS'], ser1['Ecatepec'], ser1['Faisalabad']

('apple', 'banana', 'cherries', 'dates', 'eggfruits', 'fig')

In [ ]:
ser1[0], ser1[1], ser1[2], ser1[3], ser1[4], ser1[5]

('apple', 'banana', 'cherries', 'dates', 'eggfruits', 'fig')

In [ ]:
ser1['CAIRO':'Faisalabad']

CAIRO          cherries
DAMASCUS          dates
Ecatepec      eggfruits
Faisalabad          fig
dtype: object

In [ ]:
ser1.iloc['CAIRO':'Faisalabad']

TypeError: ignored

In [ ]:
ser1.iloc[2:5]

CAIRO        cherries
DAMASCUS        dates
Ecatepec    eggfruits
dtype: object

In [ ]:
ser1

Ahmadabad         apple
Birmingham       banana
CAIRO          cherries
DAMASCUS          dates
Ecatepec      eggfruits
Faisalabad          fig
dtype: object

In [ ]:
ser1[:]

Ahmadabad         apple
Birmingham       banana
CAIRO          cherries
DAMASCUS          dates
Ecatepec      eggfruits
Faisalabad          fig
dtype: object

In [ ]:
ser1[::-1]

Faisalabad          fig
Ecatepec      eggfruits
DAMASCUS          dates
CAIRO          cherries
Birmingham       banana
Ahmadabad         apple
dtype: object

In [ ]:
import pandas as pd
lst1 = [90,91,82,73,64,55,46,37,28,19]
df1 = pd.DataFrame(lst1)
print(df1)
print(type(df1)) # 'pandas.core.frame.DataFrame'
df1.ndim, df1.shape, df1.size

In [ ]:
df1[0]

In [ ]:
df1[1] = ['a0','b1','c2','d3','e4','f5','g6','h7','i8','j9']
df1

In [ ]:
df1[2] = ('apple','ball','cat','dog','elephant','fish','grapes','horse','ink pot','jute')
df1

    0   1         2
0  90  a0     apple
1  91  b1      ball
2  82  c2       cat
3  73  d3       dog
4  64  e4  elephant
5  55  f5      fish
6  46  g6    grapes
7  37  h7     horse
8  28  i8   ink pot
9  19  j9      jute

In [ ]:
df1.columns = ['col1','col2','col3']
df1

In [ ]:
df1.index = ['row1','row2','row3','row4','row5','row6','row7','row8','row9','row10']
df1

       col1 col2      col3
row1     90   a0     apple
row2     91   b1      ball
row3     82   c2       cat
row4     73   d3       dog
row5     64   e4  elephant
row6     55   f5      fish
row7     46   g6    grapes
row8     37   h7     horse
row9     28   i8   ink pot
row10    19   j9      jute

In [ ]:
set1 = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,9,9,9}
df2 = pd.DataFrame(set1)
df2

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [ ]:
dict1 = {'alphabate a': [1,2,3,4,5,6,7,8,9,10],
         'alphabate b': (21,22,23,24,25,26,27,28,29,30),
         'alphabate c': [51,52,53,54,55,56,57,58,59,60],
         'alphabate d': (61,62,63,64,65,66,67,68,69,70),
         'alphabate e': [91,92,93,94,95,96,97,98,99,100]
         }
df3 = pd.DataFrame(dict1)
df3

   alphabate a  alphabate b  alphabate c  alphabate d  alphabate e
0            1           21           51           61           91
1            2           22           52           62           92
2            3           23           53           63           93
3            4           24           54           64           94
4            5           25           55           65           95
5            6           26           56           66           96
6            7           27           57           67           97
7            8           28           58           68           98
8            9           29           59           69           99
9           10           30           60           70          100

In [ ]:
import pandas as pd
data = [
	{'a': 1, 'b': 2},
	{'a': 5, 'b': 10, 'c': 20},
	{'a': 35, 'b': 40, 'c': 50, 'd': 66},
	{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e':7},
	{'a': 13, 'b': 24, 'c': 35, 'd': 46, 'e':57, 'f':66}
	]
df_1 = pd.DataFrame(data)
#df_2 = pd.DataFrame(data, index=['row1'], columns=['col1'])
#df_3 = pd.DataFrame(data, index=['row1','row2'], columns=['col1','col2'])
#df_4 = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2','col3'])
#df_5 = pd.DataFrame(data, index=['row1','row2','row3','row4'], columns=['col1','col2','col3','col4'])
#df_6 = pd.DataFrame(data, index=['row1','row2','row3','row4','row5'], columns=['col1','col2','col3','col4','col5'])
df_7 = pd.DataFrame(data, index=['row1','row2','row3','row4','row5'], columns=['col1','col2','col3','col4','col5','col6'])
#df_8 = pd.DataFrame(data, index=['row1','row2','row3','row4','row5','row6','row7'], columns=['col1','col2','col3','col4','col5','col6','col7'])
#df_9 = pd.DataFrame(data, index=['row1','row2','row3','row4','row5','row6','row7','row8'], columns=['col1','col2','col3','col4','col5','col6','col7','col8'])
print(df_1)
print(df_7)

    a   b     c     d     e     f
0   1   2   NaN   NaN   NaN   NaN
1   5  10  20.0   NaN   NaN   NaN
2  35  40  50.0  66.0   NaN   NaN
3   3   4   5.0   6.0   7.0   NaN
4  13  24  35.0  46.0  57.0  66.0
      col1  col2  col3  col4  col5  col6
row1   NaN   NaN   NaN   NaN   NaN   NaN
row2   NaN   NaN   NaN   NaN   NaN   NaN
row3   NaN   NaN   NaN   NaN   NaN   NaN
row4   NaN   NaN   NaN   NaN   NaN   NaN
row5   NaN   NaN   NaN   NaN   NaN   NaN

In [ ]:
import pandas as pd
data = [
	{'a': 1, 'b': 2},
	{'a': 5, 'b': 10, 'c': 20},
	{'a': 35, 'b': 40, 'c': 50, 'd': 66},
	{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e':7},
	{'a': 13, 'b': 24, 'c': 35, 'd': 46, 'e':57, 'f':66}
	]
df_1 = pd.DataFrame(data)
df_7 = pd.DataFrame(data, index=['row1','row2','row3','row4','row5'], columns=['col1','col2','col3','col4','col5','col6'])
print(df_1)
print(df_7)

    a   b     c     d     e     f
0   1   2   NaN   NaN   NaN   NaN
1   5  10  20.0   NaN   NaN   NaN
2  35  40  50.0  66.0   NaN   NaN
3   3   4   5.0   6.0   7.0   NaN
4  13  24  35.0  46.0  57.0  66.0
      col1  col2  col3  col4  col5  col6
row1   NaN   NaN   NaN   NaN   NaN   NaN
row2   NaN   NaN   NaN   NaN   NaN   NaN
row3   NaN   NaN   NaN   NaN   NaN   NaN
row4   NaN   NaN   NaN   NaN   NaN   NaN
row5   NaN   NaN   NaN   NaN   NaN   NaN