In [ ]:
import pandas as pd

In [ ]:
with open("readme.txt",'w') as f:
  f.write("Hey I am Python!")

In [ ]:
with open("readme.txt",'w') as f:
  f.write("Hey I am Python 3.7! \n")

In [ ]:
with open("readme.txt",'a') as f:
  f.write("Hey I am Python 23456 ! \n")

In [ ]:
with open("readme.txt",'r') as f:
  print(f.read().split("\n"))

['Hey I am Python 3.7! ', 'Hey I am Python 23456 ! ', '']

In [ ]:
# w Creates a new file or overrides if an file exsits of same name
# a Appends data in the same file is file exsits if does not exsists creates a new file
# r # read data in form of strong from the text file

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
with open("readme.txt",'w') as f:
  for k in a:
    f.write(str(k)+"\n")

In [ ]:
str_temp=""" Hey How are you \n i am good thanks for asking"""

In [ ]:
print(str_temp.split(","))

[' Hey How are you \n i am good thanks for asking']

In [ ]:
dataframe=pd.read_csv("Data Cleaning 1st Example.csv",encoding="latin1")

In [ ]:
# Dataframe 2D array with columns name
dataframe

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [ ]:
# N Rows, 1 column
# 1D array with column name
dataframe["duration"]

0     178.0
1       NaN
2     148.0
3       NaN
4     132.0
5     156.0
6       NaN
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64

In [ ]:
# Write with pandas
import random
marks_list=[]
roll_num=[]
for _ in range(100):
  marks_list.append(random.randint(33,100))
  roll_num.append(random.randint(100,1000))

100
100

In [ ]:
new_dictonary={"Marks":marks_list,"Roll_Number":roll_num}

In [ ]:
df=pd.DataFrame(new_dictonary)

In [ ]:
df

    Marks  Roll_Number
0      92          466
1     100          567
2      40          304
3      77          933
4      77          929
..    ...          ...
95     81          977
96     53          148
97     98          524
98     77          730
99     64          942

[100 rows x 2 columns]

In [ ]:
df.to_csv("DemoMarks.csv",index=False)

In [ ]:
# EXCEPTION HANDLING
try:
  dataframe_new=pd.read_csv("Data Cleaning 1st Example.csv")
except Exception as e:
  dataframe_new=pd.read_csv("Data Cleaning 1st Example.csv",encoding="latin1")

In [ ]:
dataframe_new

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [ ]:
#For loop
list_temp=[1,2,3,4,5,6,6,7,643532423]
for i in list_temp:
  print(i)

1
2
3
4
5
6
6
7
643532423

In [ ]:
#For loop
list_temp=[1,2,3,4,5,6,6,7,643532423]
# start,stop,step
# 0, len(list),1
for i in range(len(list_temp)):
  print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
#For loop
# start,stop,step
# 0, len(list),1
for i in range(1,10,2):
  for j in range(i):
    print(j)
  print("====================================")

0
====================================
0
1
2
====================================
0
1
2
3
4
====================================
0
1
2
3
4
5
6
====================================
0
1
2
3
4
5
6
7
8
====================================

In [ ]:
for i in range(1):
  print(i)

0

In [ ]:
#If – else

# Write with pandas
import random
marks_list=[]
roll_num=[]
for _ in range(100):
  marks_list.append(random.randint(0,100))
  roll_num.append(random.randint(100,1000))



for i in range(len(marks_list)):
  if marks_list[i]<10:
     print("Student to be Arrestigated",roll_num[i])    
  elif marks_list[i]<33:
    print("Student failed ",roll_num[i])
  else:
    pass

Student failed  871
Student failed  166
Student to be Arrestigated 231
Student failed  724
Student failed  902
Student failed  422
Student failed  414
Student to be Arrestigated 963
Student failed  438
Student failed  404
Student failed  767
Student to be Arrestigated 891
Student failed  677
Student failed  537
Student failed  652
Student to be Arrestigated 615
Student failed  631
Student failed  567
Student failed  563
Student failed  112
Student failed  491
Student to be Arrestigated 861
Student failed  236
Student to be Arrestigated 988
Student failed  712
Student failed  997
Student failed  332
Student failed  675
Student to be Arrestigated 615
Student failed  206
Student failed  563
Student failed  131

In [ ]:
# OOPS CONCEPTS
# Class is basically a blue print which has features and attributes
class Person:
  def sum(self,a,b):
    print(a,b)

person_object=Person()
person_object.sum(17,20)

17 20

In [ ]:
# OOPS CONCEPTS
# Class is basically a blue print which has features and attributes
class Person:
  def __init__(self,a,b):
    self.a=a
    self.b=b
    print("Class Initialized")
  def sum(self):
    return self.a+self.b

person_object=Person(17,20)
print("==================")
print(person_object.sum())
print(person_object.a)
print(person_object.b)

Class Initialized
==================
37
17
20

In [ ]:
# class reperesents a thing that has features and attributes

In [ ]:
#  lambda number of variables we want to pass : expression we want to solve using these variables
x=lambda a,b,c : a*10*20
y=lambda a,b,c : a*10*20
print(x(6,12,13))
print(x(16,12,13))

1200
3200

In [ ]:
#Sklearn EDA

# Imputers filling missing data with different stratergies
# Sklearn has feature scaling used to bring scale to a small range for model to understand 
#.mean(),.median(),.std

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
training_X=[[7, 2, 3], [4, np.nan, 6], [10, 5, 9]]
imp_mean.fit(training_X)
X_test = [[np.nan, 2, 3], [4, np.nan, np.nan], [10, np.nan, 9]]
print(imp_mean.transform(X_test))

[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]