In [31]:
46#1) Swap two numbers using 3rd variable
a=input("plese enter the number ")
b=input("plese enter the number ")
x=a
a=b
b=x
print("The swaped value of a is ",a)
print("The swaped value of b is ",b)

plese enter the number 1234
plese enter the number 678
The swaped value of a is  678
The swaped value of b is  1234

In [32]:
#2) Swap two numbers without using 3rd variable
a=input("plese enter the number ")
b=input("plese enter the number ")
a,b=b,a
print("The swaped value of a is ",a)
print("The swaped value of b is ",b)

plese enter the number 4768
plese enter the number 76554
The swaped value of a is  76554
The swaped value of b is  4768

In [33]:
#3)Remove duplicate elements from a list without converting to tuple
lst1=[1,3,1,'a','c','b','a','b',3,1,'c',4,5,6,'g']
print(set(lst1))

{1, 'g', 3, 4, 'c', 5, 6, 'a', 'b'}

In [34]:
#3)Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

def HCF(a,b):
  if a>b:
    smaller=b
  else:
    smaller=a
  for i in range(1,smaller+1):
    if (a%i==0) and (b%i==0):
      hcf=i
  return hcf
print('The HCF is',HCF(100,80))

The HCF is 20

In [35]:
#4)Write a loop to print following series 10, 20, 30,  …………………, 300

a=10
print(a)
while a>0:
  a +=10
  if a>300:
    break
  print(a)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [36]:
#5)Write a loop to print following series 105,98,91,………………………,7

a=105
print(a)
while a>0:
  a=a-7
  if a<7:
    break
  print(a)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [44]:
'''6)Write a program to print number names of digits in a number like 
SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE'''


number=[' ','One','Two','Three','Four','five','six','Seven','Eight','Nine']
a=int(input('Enter the number '))
lst1 = [int(x) for x in str(a)]
for i in lst1:
  if i==1:
    print('One')
  elif i==2:
    print('Two')
  elif i==3:
    print('Three')
  elif i==4:
    print('Four')
  elif i==5:
    print('five')
  elif i==6:
    print('six')
  elif i==7:
    print('Seven')
  elif i==8:
    print('Eight')
  elif i==9:
    print('Nine')
  else:
    print(lst1)

Enter the number 678
six
Seven
Eight

In [46]:
#7) Write a program to print Fibonacci series till n terms take n =50

a, b = 0, 1
print(a, b, end = " ")
n = 50

for i in range(n - 2):
  c = a + b 
  print(c, end= ' ') 
  a = b 
  b = c

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

In [47]:
#8) Write a program to print factorial of a number
def find_factorial(n):
  if n < 0:
    return 0
  elif n==0 or n==1:
    return 1
  else:
    factorial = 1
    while (n >1):
      factorial *= n
      n -= 1
    return factorial
num=5
print("The factorial of", num, 'is',find_factorial(num))

The factorial of 5 is 120

In [48]:
#9) Write a program to check if a number is Armstrong or not
num=int(input('enter the num '))
sum=0
a=num
while a > 0:
   num1 = a % 10
   sum += num1 ** 3
   a //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

enter the num 12321
12321 is not an Armstrong number

In [ ]:
#10) Write a program to convert binary to decimal

binary = input('enter a number: ')
decimal = 0
for digit in binary:
    decimal = decimal*2 + int(digit)
print(decimal)

enter a number: 11111111
255

In [ ]:
#11) Write a program to convert decimal to binary
a=int(input("plese enter the decimal number "))
print('binary', bin(a))

plese enter the decimal number 255
binary 0b11111111

In [ ]:
#12) Write a program to check if number is palindrome on not (Without converting to string)

num =int(input("Enter the number:"))
x=num
rev=0
while(num>0):
    dig=num %10
    rev=rev*10+dig
    num=num//10
if(x==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter the number:12345
The number isn't a palindrome!

In [ ]:
#13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

for num in range(100,500):
  if num%13==0 and num%3!=0:
    print(num)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [7]:
#14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 1.8) + 32
print("The change temperature in Fahrenheit is: ",fahrenheit)

fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (5 * (fahrenheit-32))/9
print("The change temperature in celsius is: ",celsius)

Enter temperature in celsius: 38
The change temperature in Fahrenheit is:  100.4
Enter temperature in fahrenheit: 100.4
The change temperature in celsius is:  38.0

In [19]:
#15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

m_row = int(input('Enter the number of row '))
n_column = int(input('Enter the number of column'))
lst1=[[0 for j in range(n_column)] for i in range(m_row)]
for i in range(m_row):
  for j in range(n_column):
    lst1[i][j]=i*j
print(lst1)

Enter the number of row 3
Enter the number of column4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
#16)Write a Python program that accepts a string and calculates the number of digits and letters.

str1=input('Enter the string ')
counter1=0
counter2=0
for i in str1:
  if (i.isdigit()):
    counter1 +=1
  elif (i.isalpha()):
    counter2 +=1
print('The number of digits is ',counter1)
print('The number of string is ',counter2)

Enter the string python 3.2
The number of digits is  2
The number of string is  6

In [12]:
 '''17)abc Sample output
BAC
CAB
CBA
ACB
BCA'''

def get_permutation(sample,i=0):
  if i==len(sample):
    print(''.join(sample))

  for j in range(i,len(sample)):

    fin_str=[a for a in sample]

    fin_str[i],fin_str[j]=fin_str[j],fin_str[i]

    get_permutation(fin_str,i+1)

print(get_permutation('abc'))

abc
acb
bac
bca
cba
cab
None

In [ ]:
"""18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side

Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides."""

def check_triangle(l1,l2,l3):
  if l1==l2==l3:
    print('The triangle is equilateral.')
  elif l1==l2 or l2==l3 or l3==l1:
    print('The triangle is isosceles.')
  else:
    print('The triangle is scalene.')
check_triangle(1,3,8)

The triangle is scalene.

In [29]:
"""19) Write a Python program to get the next day of a given date.Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24 """

#def displsy_date(yyyy-mm-dd):
year=int(input('Enter the year '))
month=int(input('Enter the month [1-12]'))
if month >12:
  year=year+1
day=int(input('Enter the day [1-30] '))
if day >30:
  month=month+1
print("The Next day of the given date is",year,'-',month,'-',day+1)

Enter the year 2022
Enter the month [1-12]6
Enter the day [1-30] 9
The Next day of the given date is 2022 - 6 - 10